# Ignore the Python virtual environment
backend/venv
venv

# Ignore Python bytecode files
**/*.pyc
**/__pycache__

# Ignore local environment files - secrets should be passed in at runtime
.env*

# Ignore Git directory
.git
.gitignore

# Ignore Docker files from being copied into the image
Dockerfile
.dockerignore